@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card {
    background-image: url('https://img.freepik.com/free-photo/two-happy-girls-sweaters-having-fun-with-shopping-trolley-megaphone-white-wall_171337-2714.jpg?w=996&t=st=1677630136~exp=1677630736~hmac=ca8ec966f1b4d49bda1ceb69641c763c7438b012e4bc443ed8201b5f600f426a');
    text-align: center;
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

.card1 {
    background-color: white;
    text-align: center;
    padding: 25px;
    border-radius: 25px;

}

.heading {
    color: brown;
    font-family: "Monoton";
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}

.paragraph {
    color: black border-radius:25px;
    border-width: 0px;
}

.button {
    background-color: #F5EAEA;
    color: #2B3467;
    height: 36px;
    width: 120px;
    border-width: 0px;
    border-radius: 20px;
}
.button-signup {
    background-color: #C7E8CA;
}
